body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

.popupPhotos{
    width:80px;
    margin-left:auto;
    margin-right: auto;
    display:block;
    image-rendering:crisp-edges;

}

.searchContainer{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10000;
    /*width: 400px;*/
}
.searchContainer input{
    width:300px;
}

.custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#my-searchbox-filters{
    position: absolute;
    top: 0;
    left: 300px;
}
.searchContainer > #cleaner {
    position: absolute;
    top: 5px;
    left: 285px;
    cursor: pointer;
}