<div class="modal-header">
    <a href="{{$ctrl.building.link}}">
        <h3 class="modal-title" id="modal-title">
            {{$ctrl.building.name}}
            <span ng-if="$ctrl.building.name_add">
                ({{$ctrl.building.name_add}})
            </span>
        </h3>
    </a>
</div>
<div class="modal-body" id="modal-body">

    <ng-image-gallery
        images="$ctrl.photos"
        on-open="opened();"
        on-close="closed();"
        thumb-size=200
    >

    </ng-image-gallery>

    <h4>Стили:</h4>
    <ul>
        <li ng-repeat="style in $ctrl.building.build_styles">{{style.name}}</li>
    </ul>
    <h4>Архитекторы:</h4>
    <ul>
        <li ng-repeat="archi in $ctrl.building.build_archi">
            <a href="{{archi.link}}">{{archi.first_name}} {{archi.second_name}}</a>
        </li>
    </ul>
    <h4>История:</h4>
    <ul>
        <li ng-repeat="history_state in $ctrl.building.build_history ">
            {{history_state.year}}: <b>{{history_state.event}}</b>
            <i><p>{{history_state.notes}}</p></i>
        </li>
        <li>{{$ctrl.building.year_from}}: <b>основание</b></li>
    </ul>

    <!--todo: байндинг не работает. -->
    <!--<building-info building="$scope.$resolve.building"></building-info>-->
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.close()">Close</button>
</div>